lib/tenergy32hub/
lib/LiquidCrystal_I2C/
lib/arduino-LoRa/
lib/Adafruit_SSD1306/
lib/Adafruit_SHT31/
lib/Adafruit_Sensor/
lib/Adafruit_BusIO/
lib/Adafruit_ADS1X15/
lib/Adafruit-GFX-Library/
include/README
example/.DS_Store
.vscode/launch.json
.vscode/c_cpp_properties.json
.pio/build/project.checksum
.pio/build/nodemcu-32s/src/main.cpp.o
.pio/build/nodemcu-32s/src/main.cpp.d
.pio/build/nodemcu-32s/partitions.bin
.pio/build/nodemcu-32s/libFrameworkArduino.a
.pio/build/nodemcu-32s/libf9e/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.o
.pio/build/nodemcu-32s/libf9e/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.d
.pio/build/nodemcu-32s/libf9e/libLiquidCrystal_I2C.a
.pio/build/nodemcu-32s/libf45/libFS.a
.pio/build/nodemcu-32s/libf45/FS/vfs_api.cpp.o
.pio/build/nodemcu-32s/libf45/FS/vfs_api.cpp.d
.pio/build/nodemcu-32s/libf45/FS/FS.cpp.o
.pio/build/nodemcu-32s/libf45/FS/FS.cpp.d
.pio/build/nodemcu-32s/libe77/libAdafruit_SSD1306.a
.pio/build/nodemcu-32s/libe77/Adafruit_SSD1306/Adafruit_SSD1306.cpp.o
.pio/build/nodemcu-32s/libe77/Adafruit_SSD1306/Adafruit_SSD1306.cpp.d
.pio/build/nodemcu-32s/libd31/SPI/SPI.cpp.o
.pio/build/nodemcu-32s/libd31/SPI/SPI.cpp.d
.pio/build/nodemcu-32s/libd31/libSPI.a
.pio/build/nodemcu-32s/libcf1/libAdafruit_BusIO.a
.pio/build/nodemcu-32s/libcf1/Adafruit_BusIO/Adafruit_SPIDevice.cpp.o
.pio/build/nodemcu-32s/libcf1/Adafruit_BusIO/Adafruit_SPIDevice.cpp.d
.pio/build/nodemcu-32s/libcf1/Adafruit_BusIO/Adafruit_I2CDevice.cpp.o
.pio/build/nodemcu-32s/libcf1/Adafruit_BusIO/Adafruit_I2CDevice.cpp.d
.pio/build/nodemcu-32s/libcf1/Adafruit_BusIO/Adafruit_GenericDevice.cpp.o
.pio/build/nodemcu-32s/libcf1/Adafruit_BusIO/Adafruit_GenericDevice.cpp.d
.pio/build/nodemcu-32s/libcf1/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.o
.pio/build/nodemcu-32s/libcf1/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.d
.pio/build/nodemcu-32s/libca8/libEEPROM.a
.pio/build/nodemcu-32s/libca8/EEPROM/EEPROM.cpp.o
.pio/build/nodemcu-32s/libca8/EEPROM/EEPROM.cpp.d
.pio/build/nodemcu-32s/libb1a/libAdafruit_ADS1X15.a
.pio/build/nodemcu-32s/libb1a/Adafruit_ADS1X15/Adafruit_ADS1X15.cpp.o
.pio/build/nodemcu-32s/libb1a/Adafruit_ADS1X15/Adafruit_ADS1X15.cpp.d
.pio/build/nodemcu-32s/libaf3/libAdafruit-GFX-Library.a
.pio/build/nodemcu-32s/libaf3/Adafruit-GFX-Library/glcdfont.c.o
.pio/build/nodemcu-32s/libaf3/Adafruit-GFX-Library/glcdfont.c.d
.pio/build/nodemcu-32s/libaf3/Adafruit-GFX-Library/Adafruit_SPITFT.cpp.o
.pio/build/nodemcu-32s/libaf3/Adafruit-GFX-Library/Adafruit_SPITFT.cpp.d
.pio/build/nodemcu-32s/libaf3/Adafruit-GFX-Library/Adafruit_GrayOLED.cpp.o
.pio/build/nodemcu-32s/libaf3/Adafruit-GFX-Library/Adafruit_GrayOLED.cpp.d
.pio/build/nodemcu-32s/libaf3/Adafruit-GFX-Library/Adafruit_GFX.cpp.o
.pio/build/nodemcu-32s/libaf3/Adafruit-GFX-Library/Adafruit_GFX.cpp.d
.pio/build/nodemcu-32s/libae4/tenergy32hub/tenergy32hub.cpp.o
.pio/build/nodemcu-32s/libae4/tenergy32hub/tenergy32hub.cpp.d
.pio/build/nodemcu-32s/libae4/libtenergy32hub.a
.pio/build/nodemcu-32s/lib823/WebServer/WebServer.cpp.o
.pio/build/nodemcu-32s/lib823/WebServer/WebServer.cpp.d
.pio/build/nodemcu-32s/lib823/WebServer/Parsing.cpp.o
.pio/build/nodemcu-32s/lib823/WebServer/Parsing.cpp.d
.pio/build/nodemcu-32s/lib823/WebServer/detail/mimetable.cpp.o
.pio/build/nodemcu-32s/lib823/WebServer/detail/mimetable.cpp.d
.pio/build/nodemcu-32s/lib823/libWebServer.a
.pio/build/nodemcu-32s/lib760/WiFi/WiFiUdp.cpp.o
.pio/build/nodemcu-32s/lib760/WiFi/WiFiUdp.cpp.d
.pio/build/nodemcu-32s/lib760/WiFi/WiFiSTA.cpp.o
.pio/build/nodemcu-32s/lib760/WiFi/WiFiSTA.cpp.d
.pio/build/nodemcu-32s/lib760/WiFi/WiFiServer.cpp.o
.pio/build/nodemcu-32s/lib760/WiFi/WiFiServer.cpp.d
.pio/build/nodemcu-32s/lib760/WiFi/WiFiScan.cpp.o
.pio/build/nodemcu-32s/lib760/WiFi/WiFiScan.cpp.d
.pio/build/nodemcu-32s/lib760/WiFi/WiFiMulti.cpp.o
.pio/build/nodemcu-32s/lib760/WiFi/WiFiMulti.cpp.d
.pio/build/nodemcu-32s/lib760/WiFi/WiFiGeneric.cpp.o
.pio/build/nodemcu-32s/lib760/WiFi/WiFiGeneric.cpp.d
.pio/build/nodemcu-32s/lib760/WiFi/WiFiClient.cpp.o
.pio/build/nodemcu-32s/lib760/WiFi/WiFiClient.cpp.d
.pio/build/nodemcu-32s/lib760/WiFi/WiFiAP.cpp.o
.pio/build/nodemcu-32s/lib760/WiFi/WiFiAP.cpp.d
.pio/build/nodemcu-32s/lib760/WiFi/WiFi.cpp.o
.pio/build/nodemcu-32s/lib760/WiFi/WiFi.cpp.d
.pio/build/nodemcu-32s/lib760/libWiFi.a
.pio/build/nodemcu-32s/lib5db/Wire/Wire.cpp.o
.pio/build/nodemcu-32s/lib5db/Wire/Wire.cpp.d
.pio/build/nodemcu-32s/lib5db/libWire.a
.pio/build/nodemcu-32s/lib525/libAdafruit_SHT31.a
.pio/build/nodemcu-32s/lib525/Adafruit_SHT31/Adafruit_SHT31.cpp.o
.pio/build/nodemcu-32s/lib525/Adafruit_SHT31/Adafruit_SHT31.cpp.d
.pio/build/nodemcu-32s/lib3aa/Ticker/Ticker.cpp.o
.pio/build/nodemcu-32s/lib3aa/Ticker/Ticker.cpp.d
.pio/build/nodemcu-32s/lib3aa/libTicker.a
.pio/build/nodemcu-32s/lib323/libarduino-LoRa.a
.pio/build/nodemcu-32s/lib323/arduino-LoRa/LoRa.cpp.o
.pio/build/nodemcu-32s/lib323/arduino-LoRa/LoRa.cpp.d
.pio/build/nodemcu-32s/idedata.json
.pio/build/nodemcu-32s/FrameworkArduino/WString.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/WString.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/WMath.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/WMath.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/wiring_shift.c.o
.pio/build/nodemcu-32s/FrameworkArduino/wiring_shift.c.d
.pio/build/nodemcu-32s/FrameworkArduino/wiring_pulse.c.o
.pio/build/nodemcu-32s/FrameworkArduino/wiring_pulse.c.d
.pio/build/nodemcu-32s/FrameworkArduino/USBMSC.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/USBMSC.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/USBCDC.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/USBCDC.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/USB.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/USB.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/Tone.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/Tone.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/StreamString.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/StreamString.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/Stream.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/Stream.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/stdlib_noniso.c.o
.pio/build/nodemcu-32s/FrameworkArduino/stdlib_noniso.c.d
.pio/build/nodemcu-32s/FrameworkArduino/Print.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/Print.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/MD5Builder.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/MD5Builder.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/main.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/main.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/libb64/cencode.c.o
.pio/build/nodemcu-32s/FrameworkArduino/libb64/cencode.c.d
.pio/build/nodemcu-32s/FrameworkArduino/libb64/cdecode.c.o
.pio/build/nodemcu-32s/FrameworkArduino/libb64/cdecode.c.d
.pio/build/nodemcu-32s/FrameworkArduino/IPv6Address.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/IPv6Address.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/IPAddress.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/IPAddress.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/HWCDC.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/HWCDC.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/HardwareSerial.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/FunctionalInterrupt.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/FirmwareMSC.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/FirmwareMSC.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/firmware_msc_fat.c.o
.pio/build/nodemcu-32s/FrameworkArduino/firmware_msc_fat.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-uart.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-uart.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-touch.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-touch.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-tinyusb.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-tinyusb.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-timer.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-timer.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-time.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-time.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-spi.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-spi.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-sigmadelta.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-sigmadelta.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-rmt.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-rmt.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-rgb-led.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-rgb-led.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-psram.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-psram.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-misc.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-misc.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-matrix.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-matrix.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-ledc.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-ledc.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-i2c.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-i2c.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-i2c-slave.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-i2c-slave.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-gpio.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-gpio.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-dac.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-dac.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-cpu.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-cpu.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-bt.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-bt.c.d
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-adc.c.o
.pio/build/nodemcu-32s/FrameworkArduino/esp32-hal-adc.c.d
.pio/build/nodemcu-32s/FrameworkArduino/Esp.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/Esp.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/cbuf.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/cbuf.cpp.d
.pio/build/nodemcu-32s/FrameworkArduino/base64.cpp.o
.pio/build/nodemcu-32s/FrameworkArduino/base64.cpp.d
.pio/build/nodemcu-32s/firmware.map
.pio/build/nodemcu-32s/firmware.elf
.pio/build/nodemcu-32s/firmware.bin
.pio/build/nodemcu-32s/bootloader.bin
.pio/build/nodemcu-32s/.sconsign311.dblite
.DS_Store
test/README
